*/Temp/
*/Library/
*/*.pidb
*/*.user
*/*.userprefs
*/*.suo
*/*.pidb
*/*.sln
*/*.csproj
*/*.unityproj
*/*.booproj

MultiplayerCube/Assets/Editor/LimeStone/Scenes/examplescene_thaswassup.unity
MultiplayerCube/.vs/codespells_terrain_test/v14/.suo
MultiplayerCube/.vs/
MultiplayerCube/obj/
MultiplayerCube/Assets/CoherentUI/Binaries/CoherentUI_Host/windows/debug.log
MultiplayerCube/Assets/CoherentUI/Binaries/CoherentUI_Host/windows/debug.log.meta
